.side-menu{
    -fx-background-color: linear-gradient(to left bottom, #11998E , #38EF7D);
    -fx-border-width: 0px2px0px0px;
    -fx-border-color: white;
}

.top-bar{
    -fx-background-color: linear-gradient(to left bottom, #11998E , #38EF7D)
}

.btns-menu{
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-width: 2px0px2px0px;
    -fx-opacity: 0.3;

}

.btns-menu:hover{
    -fx-opacity: 0.7;
}

.info-boxes{
    -fx-background-color: #fff;
    -fx-opacity: 0.4;
    -fx-background-radius: 30px;
}

.info-boxes-map{
        -fx-background-color: #fff;
        -fx-background-radius: 10px;
            -fx-opacity: 0.9;
}

